/* @import "~@fortawesome/fontawesome-free/css/all.min.css"; */
App {
  font-family: Arial, sans-serif;
}

.header-image {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.restaurant-info {
  max-width: 600px;
  margin: 20px;
}

.status {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.status .open {
  color: green;
}

.status .closed {
  color: red;
}

.reviews {
  max-width: 600px;
  margin: 20px;
}

.write-review {
  margin-bottom: 20px;
}

.review {
  display: flex;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-content {
  flex: 1;
}

.star-rating {
  display: flex;
  margin-bottom: 10px;
}

.star {
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.star.filled {
  color: gold;
}

.general-info {
  max-width: 600px;
  margin: 20px;
}

.write-review-form {
  max-width: 600px;
  margin: 20px;
}

.write-review-form form > div {
  margin-bottom: 10px;
}

.write-review-form label {
  display: block;
  margin-bottom: 20px;
}
